
## <summary>policy for steepcoin</summary>


########################################
## <summary>
##	Transition to steepcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`steepcoin_domtrans',`
	gen_require(`
		type steepcoin_t, steepcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, steepcoin_exec_t, steepcoin_t)
')


########################################
## <summary>
##	Execute steepcoin server in the steepcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`steepcoin_initrc_domtrans',`
	gen_require(`
		type steepcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, steepcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search steepcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`steepcoin_search_lib',`
	gen_require(`
		type steepcoin_var_lib_t;
	')

	allow $1 steepcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read steepcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`steepcoin_read_lib_files',`
	gen_require(`
		type steepcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, steepcoin_var_lib_t, steepcoin_var_lib_t)
')

########################################
## <summary>
##	Manage steepcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`steepcoin_manage_lib_files',`
	gen_require(`
		type steepcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, steepcoin_var_lib_t, steepcoin_var_lib_t)
')

########################################
## <summary>
##	Manage steepcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`steepcoin_manage_lib_dirs',`
	gen_require(`
		type steepcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, steepcoin_var_lib_t, steepcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a steepcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`steepcoin_admin',`
	gen_require(`
		type steepcoin_t;
		type steepcoin_initrc_exec_t;
		type steepcoin_var_lib_t;
	')

	allow $1 steepcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, steepcoin_t)

	steepcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 steepcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, steepcoin_var_lib_t)

')

